In [51]:
import pandas as pd
import numpy as np
import os
import json
import requests
import urllib
import re
import sys
from glob import glob

In [52]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [53]:
sys.path.append('/Users/tevansbarton/AAASideProjects/GMDraftTendencies/config')
sys.path.append('/Users/tevansbarton/AAASideProjects/GMDraftTendencies/src')
sys.path.append('/Users/tevansbarton/AAASideProjects/GMDraftTendencies/src/data')
sys.path.append('/Users/tevansbarton/AAASideProjects/GMDraftTendencies/src/processing')

In [54]:
import etl
import processing

In [55]:
TOP_PATH = os.environ['PWD']

In [56]:
with open(TOP_PATH + '/config/data-params.json') as fh:
    data_cfg = json.load(fh)

In [57]:
data_cfg

{'years': [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
 'teams': ['gnb',
  'sdg',
  'rai',
  'den',
  'kan',
  'cin',
  'cle',
  'pit',
  'rav',
  'jax',
  'clt',
  'oti',
  'htx',
  'mia',
  'nyj',
  'buf',
  'phi',
  'dal',
  'nyg',
  'was',
  'nor',
  'atl',
  'tam',
  'car',
  'sfo',
  'sea',
  'ram',
  'crd',
  'det',
  'chi',
  'min',
  'nwe'],
 'outpath': '/data/raw'}

In [7]:
etl.get_data(**data_cfg)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3946: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

No picks for 2020

In [129]:
full_df = processing.combine_and_clean_all_drafts()

Error cleaning college info for 2020 possibly due to draft not having happened yet
Problem Merging COMBINE_2020.csv and DRAFT_2020.csv possibly due to lack of draft information

In [131]:
full_df

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,College/Univ,YEAR,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,1,1,Rams,Sam Bradford,QB,22.0,2018.0,0,0,5,...,Oklahoma,2010,76.0,236.0,4.79,NaN,NaN,NaN,NaN,NaN
1,1,2,Lions,Ndamukong Suh,DT,23.0,2019.0,3,5,10,...,Nebraska,2010,76.0,307.0,5.03,35.5,32.0,105.0,7.21,4.44
2,1,3,Buccaneers,Gerald McCoy,DT,22.0,2019.0,1,6,9,...,Oklahoma,2010,76.0,295.0,5.04,30.5,23.0,114.0,7.32,4.48
3,1,4,Redskins,Trent Williams,T,22.0,2018.0,0,7,9,...,Oklahoma,2010,77.0,315.0,4.81,34.5,23.0,113.0,7.64,4.63
4,1,5,Chiefs,Eric Berry,DB,21.0,2018.0,3,5,5,...,Tennessee,2010,72.0,211.0,4.40,43.0,19.0,130.0,6.80,4.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,7,250,Vikings,Austin Cutting,LS,21.0,2019.0,0,0,0,...,Air Force,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2540,7,251,Rams,Dakota Allen,LB,23.0,2019.0,0,0,0,...,Texas Tech,2019,73.0,232.0,4.77,31.5,23.0,116.0,6.88,4.04
2541,7,252,Patriots,Ken Webster,CB,23.0,2019.0,0,0,0,...,Mississippi,2019,71.0,203.0,4.43,43.0,18.0,133.0,6.85,4.14
2542,7,253,Redskins,Jordan Brailford,DE,23.0,NaN,0,0,0,...,Oklahoma State,2019,75.0,252.0,4.65,37.5,22.0,126.0,NaN,NaN
2543,7,254,Cardinals,Caleb Wilson,TE,23.0,NaN,0,0,0,...,UCLA,2019,76.0,240.0,4.56,29.0,NaN,113.0,7.20,4.40

2544 is the number