In [1]:
import pandas as pd
import numpy as np
import os
import json
import requests
import urllib
import sys

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
sys.path.append('/Users/tevansbarton/AAASideProjects/GMDraftTendencies/config')
sys.path.append('/Users/tevansbarton/AAASideProjects/GMDraftTendencies/src')
sys.path.append('/Users/tevansbarton/AAASideProjects/GMDraftTendencies/src/data')

In [44]:
import etl

In [70]:
etl.get_combine_table(2010)

,Year,Name,College,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone
0,2010.0,Phillip Adams,South Carolina State,CB,70.750,192.0,NaN,9.99,NaN,NaN,NaN,9.99,9.99
1,2010.0,Seyi Ajirotutu,Frenso State (CA),WR,75.375,204.0,NaN,4.60,14.0,36.0,115.0,4.39,7.22
2,2010.0,Rahim Alem,Louisiana State,DE,74.625,251.0,NaN,4.75,NaN,30.5,106.0,4.80,7.54
3,2010.0,Charles Alexander,Louisiana State,DT,75.625,300.0,NaN,9.99,NaN,NaN,NaN,9.99,9.99
4,2010.0,Danario Alexander,Missouri,WR,76.625,215.0,NaN,9.99,NaN,NaN,NaN,9.99,9.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,2010.0,Doug Worthington,Ohio State,DT,77.125,292.0,NaN,5.02,19.0,NaN,NaN,9.99,9.99
386,2010.0,Major Wright,Florida,FS,71.500,206.0,NaN,4.44,14.0,37.5,119.0,4.36,6.95
387,2010.0,Sam Young,Notre Dame,OT,79.625,316.0,NaN,5.20,29.0,29.5,104.0,4.87,7.73
388,2010.0,Willie Young,North Carolina State,DE,76.750,251.0,NaN,4.88,25.0,38.0,118.0,4.56,7.24
389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
etl.get_draft_table(2013)

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Rushing Att,Rushing Yds,Rushing TD,Receiving Rec,Receiving Yds,Receiving TD,Solo,Int,Sk,College/Univ
0,1,1,KAN,Eric Fisher,T,22,2019,0,1,7,...,0,0,0,0,-5,0,NaN,NaN,NaN,Central Michigan
1,1,2,JAX,Luke Joeckel,T,21,2017,0,0,3,...,0,0,0,0,0,0,1,NaN,NaN,Texas A&M
2,1,3,MIA,Dion Jordan,DE,23,2019,0,0,0,...,0,0,0,0,0,0,71,NaN,10.5,Oregon
3,1,4,PHI,Lane Johnson,T,23,2019,1,3,6,...,0,0,0,0,0,0,NaN,NaN,NaN,Oklahoma
4,1,5,DET,Ezekiel Ansah,DE,24,2019,0,1,5,...,0,0,0,0,0,0,174,NaN,50.5,BYU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,7,250,MIA,Don Jones,DB,23,2016,0,0,0,...,0,0,0,0,0,0,35,NaN,NaN,Arkansas St.
256,7,251,CIN,T.J. Johnson,C,23,2017,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,South Carolina
257,7,252,SFO,Marcus Cooper,DB,23,2018,0,0,1,...,0,0,0,0,0,0,145,7,NaN,Rutgers
258,7,253,NYG,Michael Cox,RB,24,2014,0,0,0,...,26,76,0,5,21,0,3,NaN,NaN,Massachusetts
259,7,254,IND,Justice Cunningham,TE,22,2015,0,0,0,...,0,0,0,1,4,0,NaN,NaN,NaN,South Carolina

In [57]:
combine_2010 = pd.read_html('https://nflcombineresults.com/nflcombinedata.php?year=2010&pos=&college=')[0]

In [62]:
combine_2010[combine_2010['POS'] == 'CB'].sample(5)

,Year,Name,College,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,Unnamed: 13,Unnamed: 14
332,2010.0,Kevin Thomas,Southern California,CB,72.000,192.0,NaN,4.41,19.0,34.5,126.0,4.18,6.82,NaN,NaN
219,2010.0,Walter McFadden,Auburn,CB,70.000,181.0,NaN,9.99,NaN,NaN,NaN,9.99,9.99,NaN,NaN
132,2010.0,Joe Haden,Florida,CB,70.750,193.0,NaN,4.52,18.0,35.0,125.0,4.34,6.94,NaN,NaN
378,2010.0,Kyle Wilson,Boise State,CB,70.000,194.0,NaN,4.43,25.0,NaN,NaN,9.99,9.99,NaN,NaN
47,2010.0,Benjamin Burney,Michigan State,CB,70.625,202.0,NaN,9.99,NaN,NaN,NaN,9.99,9.99,NaN,NaN